/*centrado-texto*/
.container {
	text-align: center;
	margin-top: 10px;
	line-height: 1.2;
}

/*cuadrado*/
input[type="text"] {
	font-size: 18px;
	padding: 5px;
	width: 200px;
	margin: 10px;
}

/*boton*/
button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #FF0000;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
}

/*margen-info*/
#informacion {
	margin-top: 18px;
}

/*info*/
#informacion p {
	font-size: 18px;
	line-height: 1.2;
}

/*cel*/
@media (max-width: 768px) {
	body {
	font-size: 18px;
}
  
.container {
	width: 90%;
	margin: 0 auto;}
}

/*comp*/
@media (min-width: 769px) {
	body {
	font-size: 18px;
}
  
.container {
	width: 70%;
	margin: 0 auto;
}

}
