.container {
  text-align: center;
  margin-top: 10px;
}

input[type="text"] {
  padding: 5px;
  width: 200px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  background-color: #FF0000;
  color: white;
  border: none;
  cursor: pointer;
}

#informacion {
  margin-top: 20px;
}

#informacion p {
  font-size: 14px;
  line-height: 1.5;
}

/*cel-tab*/
@media (max-width: 768px) {
	body {
	font-size: 22px;
}
  
.container {
	width: 90%;
	margin: 0 auto;}
}

/*comp*/
@media (min-width: 769px) {
	body {
	font-size: 22px;
}
  
.container {
	width: 70%;
	margin: 0 auto;
}

}
